<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="./css/stayl.css">
   <title >users</title>

 </head>
 <body>
   
   {{>header}}
     {{name}}

    {{>footer}}
<script src="/js/app.js"> </script>
</body>
</html>
